.data{
    width: 20rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 2rem;
    opacity: 0.4;
}

.iconandtemp{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.data h1{
    font-size: 6rem;
    display: inline-flex;
}

.temp span{
    font-size: 2rem;
}

.second{
    font-size: large;
    display: flex;
    gap: 2rem;
}